#algorithms {

  .alg {
    width: 100%;
  }

  .case {
    width: 5em;
  }

  .description {
    width: 100%;
  }

  .tag {
    margin: .5em .5em .5em 0;
  }

  .more {
    margin: .5em 0;
  }

  .cancel, .submit {
    margin: 1em .5em 1em 0;
  }

}