<div id="algorithms">

  <h1>Algorithms</h1>

  <h3>Add new algorithm</h3>

  <div class="col-md-6">
    <div>
      <h4>Alg:</h4>
      <input type="text" maxlength="100">
    </div>

    <div>
      <h4>Case:</h4>
      <div ng-repeat="displacement in displacements">
        <input type="text" maxlength="3">
        <input type="text" maxlength="3">
      </div>
      <button class="btn btn-sm btn-default">More...</button>
    </div>

    <button class="btn btn-default cancel">Cancel</button>
    <button class="btn btn-success submit">Submit</button>

  </div>

  <div class="col-md-6">
    <h4>Cub</h4>
  </div>

</div>
