<div id="algorithms">

  <div class="page-header">
    <h2>Add new algorithm</h2>
  </div>

  <div class="col-md-6">
    <div>
      <h4>Alg:</h4>
      <input type="text" maxlength="100" class="alg" ng-model="algorithm.alg">
    </div>

    <div>
      <h4>Case:</h4>
      <div ng-repeat="(source, target) in algorithm.case">
        <input type="text" class="case" maxlength="3" ng-model="source">
        <input type="text" class="case" maxlength="3" ng-model="target">
      </div>
      <button class="btn btn-sm btn-default more" ng-click="more()">More...</button>
    </div>

    <div>
      <h4>Description:</h4>
      <textarea rows="3" ng-model="algorithm.description" class="description" maxlength="1000"></textarea>
    </div>

    <div>
      <h4>Tags:</h4>
      <span class="label label-primary tag" ng-repeat="tag in algorithm.tags" ng-bind="tag"></span>
    </div>

    <button class="btn btn-default cancel">Cancel</button>
    <button class="btn btn-success submit" ng-click="submit()">Submit</button>

  </div>

  <div class="col-md-6">
    <h4>Algs</h4>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Alg</th>
          <th>Case</th>
          <th>Description</th>
          <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="algorithm in algorithms">
          <td ng-bind="algorithm.alg"></td>
          <td>
            <p ng-repeat="(source, target) in algorithm.case" ng-bind="source + ' -> ' + target"></p>
          </td>
          <td ng-bind="algorithm.description"></td>
          <td>
            <p class="label label-primary tag" ng-repeat="tag in algorithm.tags" ng-bind="tag"></p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
