<div id="createAlgorithm">

  <div class="modal-header">
    <h4 class="modal-title">Create Algorithm</h4>
  </div>

  <div class="modal-body">
    <div>
      <h4>Alg:</h4>
      <input type="text" maxlength="100" class="alg" ng-model="algorithm.alg">
    </div>

    <div>
      <h4>Case:</h4>
      <div ng-repeat="(source, target) in algorithm.case">
        <input type="text" class="case" maxlength="3" ng-model="source">
        <input type="text" class="case" maxlength="3" ng-model="target">
      </div>
      <button class="btn btn-sm btn-default more" ng-click="more()">More...</button>
    </div>

    <div>
      <h4>Description:</h4>
      <textarea rows="3" ng-model="algorithm.description" class="description" maxlength="1000"></textarea>
    </div>

    <div>
      <h4>Tags:</h4>
      <span class="label label-primary tag" ng-repeat="tag in algorithm.tags" ng-bind="tag"></span>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-default cancel" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success submit" ng-click="submit()">Submit</button>
  </div>


</div>